.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner .container h2,
.banner .container p {
  color: white;
  margin: 10px 0;
}

.banner .container h2 {
  font-size: 30px;
}

.banner .container p {
  font-size: 20px;
  color: lightgrey;
}

.banner .container a {
  text-decoration: none;
  color: white;
  background-color: rgb(126, 210, 153);
  padding: 15px 3%;
  border-radius: 50px;
  font-size: 18px;
}
